RealmTasks/Podfile.lock
RealmTasks/Pods/
RealmTasks/RealmTasks.xcworkspace/xcuserdata/macbook.xcuserdatad/
RealmTasks/RealmTasks.xcodeproj/xcuserdata/macbook.xcuserdatad/xcschemes/xcschememanagement.plist
RealmTasks/RealmTasks.xcodeproj/xcuserdata/macbook.xcuserdatad/xcschemes/xcschememanagement.plist
